/*#region*/ /*Website Framework*/
body{
	font-family: sans-serif;
	background-color: #ccc !important;
}


button{
	
	height: 50px;
	width: 50px;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "montserrat", sans-serif;
}

.main-Content{
	height:100%;
	min-height: 600px;;

}


table{
	border-radius: 5px;
    border: 1px solid black;
    border-collapse: collapse;

}

tr{
	border-radius: 5px;
    border: black 1px solid;
}

th{
    cursor: pointer;
}
  
th, td{
    text-align: left;
    padding: 16px;
}
  

/*#region*/ /*crypto-list-elements*/
#Game-list{
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px);

}

/*#endregion*/

/*#region*/ /*crypto-list-elements*/
#Game-list-elements{
    height: 50px;
	font-weight: 500;
    background-color: #9499fc;
}
	
#Game-list-elements:hover{
	background-color: #7178fd;
}

#Game-list-elements td:nth-child(1){
	width: 10%;
}
	
#Game-list-elements td:nth-child(2){
    width: 10%;
}
	
#Game-list-elements td:nth-child(3){
    width: 10%;
}
	
#Game-list-elements td:nth-child(4){
    width: 10%;
}
#Game-list-elements td:nth-child(5){
    width: 10%;
}
#Game-list-elements td:nth-child(6){
    width: 10%;
}

.Game-list-item{
	height: 50px;
	font-weight: 500;
	background-color: #fff;
}
.Game-list-item:hover{
	background-color: #ccc;
}
.Game-list-item td:nth-child(1){
	width: 10%;
}
	
.Game-list-item td:nth-child(2){
    width: 10%;
}
	
.Game-list-item td:nth-child(3){
    width: 10%;
}
	
.Game-list-item td:nth-child(4){
    width: 10%;
}
.Game-list-item td:nth-child(5){
    width: 10%;
}
.Game-list-item td:nth-child(6){
    width: 10%;
}


#main-Content-background-2{
		background-color: #fff;
		height: 800px;
}

.main-Content-background-2-text{
	margin-left: 60px;
	margin-right: 60px;
	font-size: 27px;
}

#main-Content-background-2-headline-1{
	padding-top: 30px;
	color: red;
	font-size: 40px;
	margin-left: 60px;
}
